.list_item {
  font-size: 16px;
  padding-left: 30px;
  position: relative;

  &::before {
    content: "";
    background: url("../../assets/arrow.svg");
    background-size: 20px 20px;
    display: block;
    width: 20px;
    height: 20px;
    position: absolute;
    left: 5px;
    top: 1px;
  }
}
