services:
  nginx:
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx/${NGINX_CONF}.conf:/etc/nginx/conf.d/custom.conf:ro
      - ./certbot/conf:/etc/letsencrypt:ro
      - ./certbot/www:/var/www/certbot:ro

  certbot:
    image: certbot/certbot
    volumes:
        - ./certbot/conf/:/etc/letsencrypt:rw
        - ./certbot/www/:/var/www/certbot:rw
        