services:
    nginx:
        container_name: nginx
        build:
            context: .
            dockerfile: frontend/Dockerfile
        ports:
            - 3000:80
        restart: always
        volumes:
            - ./nginx/dev.conf:/etc/nginx/conf.d/custom.conf:ro

    # pg:
    #     image: postgres:alpine
    #     restart: always
    #     environment:
    #         POSTGRES_USER: user
    #         POSTGRES_PASSWORD: password
    #         POSTGRES_DB: gnchrv
    #         PGDATA: /var/lib/postgresql/data/pgdata
    #     ports:
    #         - 5432:5432
    #     volumes:
    #         - ./pgdata:/var/lib/postgresql/data/pgdata
    # adminer:
    #     image: adminer
    #     ports:
    #         - 8080:8080

    # volumes:
    #     pgdata:
    #         driver: local
