services:
    frontend:
        container_name: frontend
        build:
            context: ./frontend
        volumes:
          - frontend_build:/app/dist:rw
    
    backend:
        container_name: backend
        build:
            context: ./backend
        restart: unless-stopped
        
    nginx:
        container_name: nginx
        build:
            context: ./nginx
        ports:
            - "3000:3000"
            - "3001:3001"
        restart: unless-stopped
        volumes:
            - ./nginx/dev.conf:/etc/nginx/conf.d/custom.conf:ro
            - frontend_build:/usr/share/nginx/html:ro
        depends_on:
            - frontend
            - backend

volumes:
    frontend_build:
        name: frontend_dist
