@import './lib/reset';
@import './fonts';

html * {
    font-family: "Roboto", sans-serif;
}

.container {
    width: calc(100vw - 100px);
    max-width: 1180px;
    margin: 0 auto;
}

.block {
    margin-top: 100px;
}

.icon-fill {
    fill: #51B215;
}

#root {
    min-height: 100vh;
    position: relative;
    padding-bottom: 130px;
}