.header {
    padding-top: 35px;
    margin-bottom: 60px;
}

.header__content {
    display: flex;
    justify-content: space-between;
}

.header__logo {
    color: #51B215;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
}

.header__nav {
    ul {
        display: flex;
        column-gap: 30px;
        list-style: none;
        margin: 0;
        padding: 0;

        li {
            a {
                color: #000;
                font-size: 16px;
                font-weight: 500;
                text-decoration: none;
                position: relative;
    
                &::after {
                    content: "";
                    position: absolute;
                    bottom: -5px;
                    left: 50%;
                    width: 0;
                    height: 2px;
                    border-radius: 15px;
                    background-color: #51B215;
                    transition: all 0.3s ease;
                }
    
                &:hover {
                    &::after {
                        width: 15px;
                        left: calc(50% - 7px);
                    }
                }

                &.active::after {
                    width: 15px;
                    left: calc(50% - 7px);
                }
    
            }

        }

    }
}