.dates {
    border-left: 3px solid #51B215;
    padding-left: 25px;
    padding-bottom: 20px;

    li {
        margin-bottom: 50px;
        position: relative;

        &:last-child {
            margin-bottom: 0;
        }

        &::before {
            content: "";
            background-color: #fff;
            border: 2px solid #51B215;
            border-radius: 50%;
            display: block;
            width: 18px;
            height: 18px;
            position: absolute;
            top: 0;
            left: -36px;
        }
    }
}

.dates__period {
    font-size: 16px;
    font-weight: 700;
    line-height: 18px;
}

.dates__title {
    color: #646464;
    font-size: 16px;
    margin-top: 10px;
}

.dates__description {
    margin-top: 10px;

    p {
        color: #A3A3A3;
        font-size: 14px;
        line-height: 20px;
        margin-bottom: 5px;

        &:last-child {
            margin-bottom: 0;
        }
    }
}